@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.text ,.text-theme{
  color: #573174 !important;
}

.btn-theme{
  background-color: #573174 !important;
  color: #ffffff !important;
}
.btn-theme:hover{
  background-color: #cae000 !important;
}
.form-bg{
  background-color: #EFF4F3 !important;
}
.bg-yellow{
  background-color: #FAFCE4 !important;
}
.bg-highlight{
  background-color: #cae000 !important;
}
.text-highlight{
  color: #CAE000 !important;
}
.c-img:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  filter: brightness(0.9);
}
.swiper-button-next,
.swiper-button-prev {
  color: #CAE000 !important;
  background: transparent !important;
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
}

.swiper-pagination-bullet {
  background: #9CA3AF; /* gray-400 */
  opacity: 1;
}

.swiper-pagination-bullet-active, .bg-theme {
  background: #573174; /* blue-500 */
}
